@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap');

body{
    background-image: radial-gradient(rgba(255, 0, 0, 0),rgb(99, 89, 207));
}

h1,h2{ 
    font-family: 'Black And White Picture', sans-serif;
    font-size: 3em;
    text-align: center;
}